body {
	margin-left: 5%;
	margin-right: 5%;  
	background: rgb(2,27,46);
	font-family: Calibri,Arial,sans-serif;	

} 

#headerimage {
	display: block;
	background-image: url(/images/banner1.jpg);  
	height: 160px;  
	width:  1100px;
	text-indent: -9999px;
	margin: 0 auto;
}
#header {
	width:  1100px;
	background: #A0A0A0 ;
	margin: 0 auto;
}
#wrapper {
	width:  1100px;
	background: white;
	margin: 0 auto;
}

#table {
	width: 800px;
	background-image: url(/images/table1.jpg);  

	border: thick solid darkgreen;
	float: left;
	
}

#helpwindow {
	width: 288px;
	height: 516px;
	background: purple;
	border: thin solid yellow;
	float: right;
}

#controls{
	width: 808px;
	height: 100px;
	background-image: url(/images/cherrywood.jpg);  
	border: thin solid black;
	float: left;
}

#statusBox {
	width: 809px;
	height: 50px;
	background-color: darkgreen;
	float: left;
}
#dealerScore {

}

#status {
width: 359px;
text-align: center;
}
#statusText {
	text-align: center;
	margin: auto;
}
#playerScore {
	
}


.scoreBox {
	margin: 5px;
	padding: 1px;
	width: 200px;
	height: 40px;
	border: thin solid white;
	display:inline-block;
}
.scoreText {
	padding: 4px;
	color: gold;
	font-size: x-large;
	float: left;
}



#dealerhand {
	width: 790px;
	height: 160px;
}

#midtable{
	width: 790px;
	height: 50px;

}
#playerhand {
	width: 790px;
	height: 160px;

}

.controlbuttons {
margin: 10px;
height: 60px;
width: 140px;
cursor:pointer;
}



.card {

height: 160px;
width: 120px;
}
